@charset "UTF-8";

/* reset */
* {
  margin: 0;
  padding: 0;
}

body {
  font: 0.75em "맑은 고딕", 돋움, 굴림;
  text-align: center;
}

ul, ol {
  list-style-type: none;
}

/* layout */
#container {
  text-align: left;
  width: 700px;
  margin: 0 auto;
  background-color: #EEE;
}

#content {
  float: right;
  
  height: 80vh;
  overflow: auto;
   
  width: 580px;
  background-color: #fff;
}

#navigation {
  float: left;
  width: 120px;
}

#footer {
  clear: both;
  width: 100%;
}

/* common styles */
a {
  text-decoration: none;
}

/* header */
#header h1 {
  height: 70px;
  line-height: 70px;
  padding-left: 10px;
  color: #F48024;
  font-family: Arial, sans-serif;
}

#header ul {
  height: 20px;
  margin: 0 20px 10px 0;
  background-color: #F8F9F9;
  border-radius: 5px;
}

#header li {
  float: right;
  margin-right: 10px;
}

#header li a {
  color: #2F3337;
  font-weight: bold;
}

/* navigation */
#navigation ul {
  width: 118px;
  margin-top: 1px;
  background-color: #F8F9F9;
  border-radius: 5px;
}

#navigation li {
  width: 118px;
  border: 1px solid #DADADA;
  margin-top: -1px;
  transition: background-color 0.2s;
}

#navigation li:hover {
  background-color: #E1ECF4;
}

#navigation li a {
  display: block;
  color: #2F3337;
  width: 98px;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 1.1em;
}

#navigation li.selected {
  background: #E1ECF4;
}

/* footer */
#footer {
  background: #2F3337;
  color: #FFF;
}

#footer p {
  margin: 0;
  padding: 5px 10px;
  font-size: 0.9em;
}


@media screen and (max-width: 768px) {

  #container {
    width: 100%;
  }

  #navigation {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }

  #navigation ul {
    width: 100%;
  }

  #navigation li {
    width: 100%;
  }

  #content {
    float: none;
    width: 100%;
  }

   
}

